* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-player-x: yellow;
  --color-player-o: red;
  --box-shadow-token: inset 3px 3px 40px 0px rgba(59, 94, 94, 0.8)
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px 0 100px 0;
}

.no-border {
  border: none;
}

.App-link {
  color: #61dafb;
}

.cell {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}

.cell:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 0 0 25px #213bf3;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: pointer;
  z-index: 5;
}


tr td {
  border: 5px solid #213bf3;
  padding: 0px;
}

#rowChoice {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

#rowChoice div.X {
  background-color: var(--color-player-x);
  border-radius: 100%;
  width: 95%;
  height: 95%;
  z-index: 1;
  background-color: var(--color-player-x);
  box-shadow: var(--box-shadow-token);
}

#rowChoice div.O {
  background-color: var(--color-player-o);
  border-radius: 100%;
  width: 95%;
  height: 95%;
  z-index: 1;
  background-color: var(--color-player-o);
  box-shadow: var(--box-shadow-token);
}

.backgroundRed {
  background-color: red;
  box-shadow: var(--box-shadow-token);
}

.backgroundYellow {
  background-color: yellow;
  box-shadow: var(--box-shadow-token);
}